{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href={% url 'lab4-index' %}>Home</a></li>
        <li><a href={% url 'add-note' %}>Add</a></li>
        <li><a href={% url 'note-list' %}>Card</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>

</html>
