{% extends 'base.html' %} 

{% load static %}

{% block title %} Note List {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lab4_index.css' %}">

<body>
  <table>
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
        <tr>
          <th>{{ note.untuk }}</th>
          <th>{{ note.dari }}</th>
          <th>{{ note.judul }}</th>
          <th>{{ note.pesan }}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}
