{% extends 'base.html' %} 

{% load static %}

{% block title %} Note Form {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lab4_form.css' %}">

<body>
    <form action="" method="POST" class="tambah_note"> 
        {% csrf_token %}
        {{ note.as_ul }}
        <input type="submit" value="Tambah" class="tambah_note_submit">
    </form>
</body>
{% endblock %}