{% extends 'base.html' %} 

{% load static %}

{% block title %} Note Card {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lab4_note_list.css' %}">

<body>
    <div class="cards">
        {% for note in notes %}
        <div class="card card-3">
            <p class="card-title">{{ note.judul }}</p>
            <p class="card-title">UNTUK: {{ note.untuk }}</p>
            <q class="card-content">{{ note.pesan }}</q>
            <p class="card-title"><b>&#8212</b> {{ note.dari }}</p>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}