/* code css diadaptasi dari https://codepen.io/angeladelise/pen/LYREErG?editors=1100 */

@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray300: #e1e5ee;
  --clr-gray500: #4f546c;

  --radius: 0.2rem;

  font-family: Mukta Mahee, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--clr-gray500);
  font-size: 0.9rem;
  background-color: var(--clr-gray100);
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px var(--clr-gray300);
  background-color: white;
  text-align: left;
  overflow: hidden;
}

thead {
box-shadow: 0 5px 10px var(--clr-gray300);
}

th {
padding: 1rem 2rem;
text-transform: uppercase;
letter-spacing: 0.1rem;
font-size: 0.7rem;
font-weight: 900;
}

td {
padding: 1rem 2rem;
}

tr:nth-child(even) {
background-color: var(--clr-gray150);
}
