{% load static %}

<link rel="stylesheet" href="{% static 'css/coba.css' %}">

<form action="" method="POST" > 
    {% csrf_token %}
    <div class="title">Tambah Teman</div>

    {% for field in form %}
        <div class="input-container ic">
            {% if field.label == 'Tanggal Lahir' %}
                <input class="input" type="date" placeholder=" " />
            {% else %}
                <input class="input" type="text" placeholder=" " />
            {% endif %}
            <div class="cut"></div>
          <label class="placeholder" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    {% endfor %}

    <input type="submit" value="Submit" class="submit"></input>
</form>