{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/lab3_index.css' %}">
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Nama</th>
          <th>NPM</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
          <tr>
            <th>{{ friend.name }}</th>
            <th>{{ friend.npm }}</th>
            <th>{{ friend.dob }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
