<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/lab3_form.css' %}">
    <title>Friend Form</title>
</head>
<body>
    <div>
        <div class="title">Tambah Teman</div>
        <form action="" method="POST" class="tambah_teman"> 
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Tambah" class="tambah_teman_submit">
        </form>
    </div>
</body>