{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/lab2.css' %}">
    <title>Note List</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr>
            <th>{{ note.untuk }}</th>
            <th>{{ note.dari }}</th>
            <th>{{ note.judul }}</th>
            <th>{{ note.pesan }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
