body {
  background: #F9F8FD;
}

nav {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 2px solid #EBECF1;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
}

ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}

ul li:not(:last-child) {
  margin-right: 40px;
}
  
li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
}

ul li a {
      color: #9D87BA;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s;
      font-weight: 700;
}

ul li:hover {
      background: #9D87BA;
}

ul li:hover a {
  color: white;
}