@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200&display=swap');

body {
  font-family: Mukta Mahee, sans-serif;
  background-color: #F5F2F9;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 450px;
  min-height: 200px;
  grid-template-rows: 20px 50px 1fr 50px;
  box-shadow: 0px 6px 10px #9D87BA;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card:hover {
  box-shadow: 0px 6px 10px #E2D7EF;
}

q.card-content {
  font-weight: 700;
  font-size: larger;
  color: #9D87BA;
  text-align: center;
}

p.card-title {
  margin: 0;
}

.card-3 {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #EADFF8;
  background-color: white;
}