@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200&display=swap');

body {
    background-color: #F5F2F9;
    font-family: Mukta Mahee, sans-serif;
}

.title {
    color:#8A9E73;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.tambah_note {
    display: block;
    max-width: 30%;
    margin: auto;
    margin-top: 100px;
}

.tambah_note > li {
    list-style: none;
}
  
.tambah_note label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

.tambah_note > li > :nth-child(2) {
    width: 100%;
    border: 1px solid #9D87BA;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 35px;
    padding: 0 1rem;
    outline: none;
}

.tambah_note > li > :nth-child(2):focus {
    border: 3px solid #7bbacf !important;
}

.tambah_note_submit {
    align-content: center;
    display: inline-block;
    background-color: #9D87BA;
    color: white;
    border: none;
    padding: 7px 32px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s ease-in;
}

.tambah_note_submit:hover {
    box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(0, 0, 0, 0.25),
    inset 4px 4px 10px rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
}