/* code css diadaptasi dari https://codepen.io/angeladelise/pen/LYREErG?editors=1100 */

@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --clr-pink100: #F5F2F9;
  --clr-pink150: #EADFF8;
  --clr-pink300: #E2D7EF;
  --clr-pink500: #9D87BA;

  --radius: 0.2rem;

  font-family: Mukta Mahee, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--clr-pink500);
  background-color: var(--clr-pink100);
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px var(--clr-pink300);
  background-color: white;
  text-align: left;
  overflow: hidden;
}

thead {
  box-shadow: 0 5px 10px var(--clr-pink300);
}

th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

td {
  padding: 1rem 2rem;
}

tr:nth-child(even) {
  background-color: var(--clr-pink150);
}